html, body {
    font-family: Inter, Arial, sans-serif;
    background: #f7fafb;
    color: #141c29;
    margin: 0;
}

*, *::before, *::after { box-sizing: border-box; }

.loading {
    padding: 3rem;
    text-align: center;
}

#blazor-error-ui {
    display: none;
}
