POSTGRES_DB=invoisys
POSTGRES_USER=postgres
POSTGRES_PASSWORD=troque-esta-senha
POSTGRES_PORT=5432

API_PORT=8080
WEB_PORT=5056

JWT_KEY=troque-por-uma-chave-aleatoria-com-pelo-menos-64-caracteres
BOOTSTRAP_ADMIN_NAME=Administrador
BOOTSTRAP_ADMIN_EMAIL=admin@exemplo.com
BOOTSTRAP_ADMIN_PASSWORD=troque-esta-senha
